.hat {
	height: 8vh;
	background-color: #8e24aa;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
	font-weight: bolder;
	font-size: 3vh;
}

.menu {
	height: 3vh;
	width: 3vh;
}

.text {
	margin: 10px;
}

.magnifying {
	margin-left: auto;
	height: 4vh;
	width: 4vh;
}
