 textarea {
            width: 100vw;
            height: 4vh;
            overflow-y: hidden;
            font-size: 2vh;
            line-height: 2vh; 
            resize: none;
        }

input[type=submit] {
    		visibility: collapse;
        }