.inputmessage {
	width: 91vw;
	height: 5vh;
	overflow-y: hidden;
	font-size: 2vh;
	line-height: 2vh;
	resize: none;
	border: none;
}

input[type='submit'] {
	visibility: collapse;
}

.input {
	display: flex;
}

.clip {
	width: 5vh;
	height: 5vh;
}

.clip:hover {
	background-color: #edeef0;
}
