.fullname {
	width: 80vw;
	height: 8vh;
	overflow-y: hidden;
	font-size: 2vh;
	line-height: 2vh;
	resize: none;
	border-radius: 5px;
	background-color: #ededed;
	margin-top: 3vh;
	border-bottom-style: solid;
	border-color: #a7a7a7;
}

input[type='submit'] {
	visibility: collapse;
}

.inputfullname {
	background-color: #ededed;
	resize: none;
	border: none;
	height: 2vh;
	width: 75vw;
	outline: none;
	font-size: 2vh;
	margin: 2px;
}

.avatar {
	width: 20vw;
	height: 20vw;
	border-radius: 100%;
	object-fit: cover;
	margin: 3vh;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.point {
	margin: 1vh;
	color: #c3c3c3;
	font-size: 1.5vh;
}

.inputbio {
	width: 75vw;
	height: 15vh;
	overflow-y: hidden;
	font-size: 2vh;
	line-height: 2vh;
	outline: none;
	resize: none;
	background-color: #ededed;
	border: none;
}

.bio {
	width: 80vw;
	height: 20vh;
	overflow-y: hidden;
	font-size: 2vh;
	line-height: 2vh;
	resize: none;
	border-radius: 5px;
	background-color: #ededed;
	margin-top: 3vh;
	border-bottom-style: solid;
	border-color: #a7a7a7;
}

.hint {
	font-size: 1.5vh;
	color: #7e7e7e;
	margin-left: 2vw;
}
